<!--=div class="menu">
    <img src="../../assets/grid.png" alt="">
    <div class="barra1"></div>
    <div class="barra2">
        <p>Etec Cidade do Livro 2022 <strong>Copyright &copy; </strong> TCC Desenvolvimento de Sistemas - Bianca Sandis Picali / Ingrid Heloise Santos Freitas</p>
    </div>
</div-->

<footer>
    <div class="row imagens">
        <div class="col-2">
            <img src="../../assets/prof/vet.png" alt="">
        </div>
        <div class="col-2">
            <img src="../../assets/prof/qui.png" alt="">
        </div>
        <div class="col-2">
            <img src="../../assets/prof/prof.png" alt="">
        </div>
        <div class="col-2">
            <img src="../../assets/prof/med.png" alt="">
        </div>
        <div class="col-2">
            <img src="../../assets/prof/del.png" alt="">
        </div>
        <div class="col-2">
            <img src="../../assets/prof/cul.png" alt="">
        </div>
    </div>
    <div class="menu">
        <!--img src="../../assets/grid.png" class="grid" alt=""-->
        <div class="barra1"></div>
        <div class="barra2">
            <p>Etec Cidade do Livro 2022 <strong>Copyright &copy; </strong> TCC Desenvolvimento de Sistemas - Bianca
                Sandis Picali / Ingrid Heloise Santos Freitas</p>
        </div>
    </div>
</footer>