.barra1 {
    width: 100%;
    height: 12px;
    background-color: #04ad76;
}

.barra2 {
    width: 100%;
    height: 32px;
    background-color: #0df6a9;
}

* {
    padding: 0;
    margin: 0;
}

.grid {
    width: 100px;
}

p {
    text-align: center;
    color: #fff;
}

strong {
    padding: 14px;
}

.menu {
    width: 100%;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
}

@media(max-width: 600px) and (min-width: 200px) {
    .menu{
        display: none;
    }
}


.col-2 {
    width: 100 / 6%;
    padding: 0;
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

@media(max-width: 954px) and (min-width: 200px) {

    .imagens,
    .mapa {
        display: none;
    }

}

@media(max-width: 1200px) and (min-width: 955px) {

    .imagens{
        height: auto;
        margin-top: 2rem;
    }

}