<div class="row">
    <div class="col-2"></div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2"></div>

</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2"></div>

</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2"></div>
</div>

<div class="row final">
    <div class="col-2"></div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2"></div>
</div>
<div class="espaco"></div>
<app-footer></app-footer>