<div class="cardzc">
    
<div class="row">
    <div class="col-2 ">
        <div class="b" (click)="abrirInfo()" ></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-right gr" (click)="abrirInfo()"></i></p>
        <div id="desc" *ngIf="toDisplay" class="card desc drax" value="0">
            <p class="info">O Engenheiro Químico trabalha com transformações - sejam físicas, químicas ou biológicas -
                em larga escala, ou seja, na ordem de toneladas ou milhares de litros. É uma atribuição do Engenheiro
                Químico tornar viável a produção em escala industrial dos produtos e a aplicação das rotas químicas
                descobertas pelos Químicos.</p>
        </div>
    </div>
    <div class="col-2">
        <div class="b" (click)="abrirInfo()" ></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
        
    </div>
    
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>

    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
</div>

<div class="row">
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>

    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>

</div>

<div class="row">
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>

    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
</div>

<div class="row final">
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>

    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
    <div class="col-2 ">
        <div class="b"></div>
        <h3 class="name">Engenharia Química</h3>
        <p class="dur">10 semestres <i class="las la-angle-down"></i></p>
    </div>
</div>
<div class="espaco"></div>
</div>

<!--app-footer></app-footer-->