<div class="cardzc">

    <div class="row">
        <div class="col-2 cs" *ngFor="let cursos of cursos">
            <div id="desc" class="card desc drax" value="0">
                <div class="b">
                    <img [src]="cursos.img" alt="" class="dem">
                </div>
                <h3 class="name">{{cursos.nome_curso}}</h3>
                <p class="dur">{{cursos.duracao}}
                    <!--i class="las la-angle-right gr"></i-->
                </p>
                <p class="info">{{cursos.descricao}}</p>
            </div>
        </div>
    </div>
    <div class="espaco"></div>
</div>

<!--app-footer></app-footer-->