<div class="row">
    <div class="col-6">
        <img src="../../assets/grid.png" alt="" class="grid">
    </div>
    <div class="col-6">
        <div class="txt">
            <p>O Graduei tem como objetivo ajudar os jovens a encontrarem universidades que fornecem o curso desejado
                facilitando o acesso tanto em cidades específicas quando em uma distância limite.</p>
            <p>O presente site foi desenvolvido a fim de avaliar o desempenho nas alunas Ingrid Freitas e Bianca Picali
                a respeito do curso técnico de Desenvolvimento de Sistemas sendo assim um trabalho de conclusão de
                curso.</p>
            <p>Desta forma este sistema não é 100% operacional e não esta disponível em um domínio de internet. O
                orientador do projeto foi Rogério Luna Furlan da Etec Cidade do Livro.
            </p>
        </div>

    </div>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Administrador</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Login de Administrador</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <label for="user">Nome de Usuário: </label>
                </div>
                <div class="col-6">
                    <input type="text" id="user" [(ngModel)]="user">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="senha">Senha:</label>
                </div>
                <div class="col-6">
                    <input type="password" id="senha" [(ngModel)]="senha">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button class="btn canc" (click)="canc()">Cancelar</button>
                </div>
                <div class="col-6">
                    <button class="btn" (click)="entrar()">Entrar</button>
                </div>
            </div>
            <div *ngFor="let alert of alerts" class="alert">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div>
        </div>
    </ng-template>
</div>