<div class="row">
    <div class="col-6">
        <img src="../../assets/grid.png" alt="" class="grid">
    </div>
    <div class="col-6">
        <div class="txt">
            <p>O Graduei tem como objetivo ajudar os jovens a encontrarem universidades que fornecem o curso desejado
                facilitando o acesso tanto em cidades específicas quando em uma distância limite.</p>
            <p>O presente site foi desenvolvido a fim de avaliar o desempenho nas alunas Ingrid Freitas e Bianca Picali
                a respeito do curso técnico de Desenvolvimento de Sistemas sendo assim um trabalho de conclusão de
                curso.</p>
            <p>Desta forma este sistema não é 100% operacional e não esta disponível em um domínio de internet. O
                orientador do projeto foi Rogério Luna Furlan da Etec Cidade do Livro.
            </p>
        </div>
    </div>
</div>
<!--app-footer></app-footer-->