.grid {
    margin-top: 10rem;
    margin-left: 150px;
}

.txt {
    max-width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;
}

p {
    font-family: cursive;
    font-size: 22px;
    line-height: 2em;
}

p:last-child {
    margin-top: 1.2rem;
}

.modal-body label {
    padding: 8px 20px;
    color: #04ad76;
    font-weight: bold;
    font-size: 18px;
}

.modal-body input {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
}

.modal-header{
    background-color: #04ad76;
}

.modal-header h4{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.alert{
    margin-top: 2rem;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    font-weight: bold;
    width: 60%;
    background-color: #04ad76;
    color: #fff;
    height: 40px;
}

.canc {
    background-color: #fff !important;
    color: #04ad76 !important;
    border: solid 2px #04ad76;
}

@media (max-width: 600px) and (min-width: 200px) {
    .col-6 {
        min-width: 100%;
        margin-top: 5px;
    }

    .grid {
        margin-top: -50px;
        height: 200px;
        width: auto;
        margin-left: -48px;
        margin-right: auto;
        margin-left: auto;
    }

    .txt {
        min-width: 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
    }

    p {
        font-size: 14px;
        min-width: 100%;
        font-family: "Poppins", sans-serif;
    }
}
