<div class="row">
    <div class="col-6">
        <img src="../../assets/grid.png" alt="" class="grid">
    </div>
    <div class="col-6">
        <div class="txt">
            <p>Este site foi desenvolvido para a aprovação e conclusão do curso de Desenvolvimento de Sistemas, se
                por ventura alguém de fora tenha acesso a esse sistema, é necessário entender que o programa é um protótipo
                que não pode ser verdadeiramente usado para esses fins uma vez que não possui um amplo banco de dados, mas todas as 
                informações aqui presentes são verídicas.
            </p>
            <p>A personagem Grid foi desenvolvida sendo uma brincadeira envolvendo uma das desenvolvedoras, a qual se chama Ingrid 
                cujo apelido é Grid, já o animal em si foi escolhido por ser um silvestre muito presente em nossa fauna.
            </p>
        </div>
    </div>
</div>
<!--app-footer></app-footer-->