<div class="cardz">
    <div class="row he">
        <div class="col-2">
            <img mat-raised-button matTooltip="Universidade Paulista" matTooltipPosition="right" src="../../assets/logo/unip.png" alt="">
        </div>
        <div class="col-2">
            <img mat-raised-button matTooltip="Faculdade de Ensino Superior e Formação Integral" matTooltipPosition="right" src="../../assets/logo/faef.png" alt="">
        </div>
        <div class="col-2">
            <img mat-raised-button matTooltip="Anhanguera" src="../../assets/logo/anhanguera.png" matTooltipPosition="right" alt="">
        </div>
        <div class="col-2">
            <img mat-raised-button matTooltip="Universidade Estadual Paulista" matTooltipPosition="right" src="../../assets/logo/unesp.png" alt="">    
        </div>
        <div class="col-2">
            <img mat-raised-button matTooltip="Universidade Nove de Julho" matTooltipPosition="right" src="../../assets/logo/uninove.png" alt="">
        </div>
        <div class="col-2">
            <img mat-raised-button matTooltip="Universidade do Sagrado Coração" matTooltipPosition="right" src="../../assets/logo/unisagrado.png" alt="">

        </div>
    </div>
    <div class="row final">
        <div class="col-2">
            <div class="b">

            </div>
        </div>
        <div class="col-2">
            <div class="b">
                
            </div>
        </div>
        <div class="col-2">
            <div class="b">
                
            </div>
        </div>
        <div class="col-2">
            <div class="b">
                
            </div>
        </div>
        <div class="col-2">
            <div class="b">
                
            </div>
        </div>
        <div class="col-2">
            <div class="b">
                
            </div>
        </div>
    </div>
</div>
<div class="espaco"></div>
<!--app-footer></app-footer-->