<mat-drawer-container class="all">
    <mat-drawer mode="side" opened class="pesquisa">
        <img src="../../assets/grid.png" alt="" class="grid">
        <div class="acc">
            <select id="curso" class="form-control" [(ngModel)]="cur">
                <option selected>Curso</option>
                <option *ngFor="let cursos of cursos" [value]="cursos.nome_curso">{{cursos.nome_curso}}</option>
            </select>

            <select id="categoria" class="form-control" [(ngModel)]="vf">
                <option selected>Categoria</option>
                <option value="Pública">Pública</option>
                <option value="Privada">Privada</option>
                <option value="Ambas">Ambas</option>
            </select>

            <select id="estado" class="form-control" [(ngModel)]="est">
                <option selected>Estado</option>
                <option *ngFor="let estados of estados">{{estados.nome_estado}}</option>
            </select>

            <select id="cidades" class="form-control" (click)="aparecer()" [(ngModel)]="cid">
                <option selected>{{cid}}</option>
                <option *ngFor="let uc of cityEst" [value]="uc.nome_cidade">{{uc.nome_cidade}}</option>
            </select>
        </div>
        <button (click)="enviar()" class="btn">BUSCAR <i class="las la-search"></i></button>


        <select id="curso" class="form-control nemo" [(ngModel)]="curd">
            <option selected>Curso</option>
            <option *ngFor="let cursos of cursos" [value]="cursos.nome_curso">{{cursos.nome_curso}}</option>
        </select>
        <div class="bslider">
            <ngx-slider [(ngModel)]="value" [options]="options"></ngx-slider>
        </div>
        <button (click)="sla()" class="btn">BUSCAR <i class="las la-search"></i></button>
    </mat-drawer>

    <mat-drawer-content class="resultado">
        <div class="row">
            <div class="col-3" *ngFor="let rs of valores">
                <div id="desc" class="card desc drax" value="0">
                    <img src="https://static.vecteezy.com/system/resources/previews/002/743/514/original/green-check-mark-icon-in-a-circle-free-vector.jpg"
                        alt="" class="dem">

                    <h3 class="name">{{rs.cursos.nome_curso}}<strong></strong></h3>
                    <h4 class="polo">{{rs.polos.nome_polo}}</h4>
                    <h4><span class="las la-star"></span>{{rs.nota}}.0 </h4>
                    <div class="esp">
                        <h3 class="name"><strong>Instituição: </strong><span>{{rs.polos.universidades.sigla}}</span>
                        </h3>
                        <h3 class="name"><strong>Categoria: </strong><span>{{rs.polos.universidades.categoria}}</span>
                        </h3>
                        <h3 class="name"><strong>Estado: </strong><span>SP</span></h3>
                        <h3 class="name"><strong>Cidade: </strong><span>{{rs.polos.cidades.nome_cidade}}</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<!---->