<mat-drawer-container class="all">
    <mat-drawer mode="side" opened class="pesquisa">Drawer content</mat-drawer>
    <mat-drawer-content class="resultado">
        <div class="row">
            <div class="col-3">
                <div id="desc" class="card desc drax" value="0">
                    <div class="b"></div>
                    <h3 class="name"><strong>CURSO NOME</strong></h3>
                   <h4><span class="las la-star"></span>5.0 </h4>
                    <div class="esp">
                        <h3 class="name"><strong>Instituição: </strong><span>Unesp</span></h3>
                        <h3 class="name"><strong>Categoria: </strong><span>Pública</span></h3>
                        <h3 class="name"><strong>Estado: </strong><span>SP</span></h3>
                        <h3 class="name"><strong>Cidade: </strong><span>Bauru</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div id="desc" class="card desc drax" value="0">
                    <div class="b"></div>
                    <h3 class="name"><strong>CURSO NOME</strong></h3>
                    <p class="dur">2min
                        <!--i class="las la-angle-right gr"></i-->
                    </p>
                    <p class="info">Esse é apenas um card de teste de visualição, portanto não há qualquer dado de fato
                        nesse bagulho hdhdhhjuoshgbsiygs</p>
                </div>
            </div>
            <div class="col-3">
                <div id="desc" class="card desc drax" value="0">
                    <div class="b"></div>
                    <h3 class="name"><strong>CURSO NOME</strong></h3>
                    <p class="dur">2min
                        <!--i class="las la-angle-right gr"></i-->
                    </p>
                    <p class="info">Esse é apenas um card de teste de visualição, portanto não há qualquer dado de fato
                        nesse bagulho hdhdhhjuoshgbsiygs</p>
                </div>
            </div>
            <div class="col-3">
                <div id="desc" class="card desc drax" value="0">
                    <div class="b"></div>
                    <h3 class="name"><strong>CURSO NOME</strong></h3>
                    <p class="dur">2min
                        <!--i class="las la-angle-right gr"></i-->
                    </p>
                    <p class="info">Esse é apenas um card de teste de visualição, portanto não há qualquer dado de fato
                        nesse bagulho hdhdhhjuoshgbsiygs</p>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>