
.pesquisa{
    width: 20%;
    border-right: 2px solid cadetblue;
    height: 100%;
}
.resultado{
    width: 80%;
    height: 100%;
}

mat-drawer-container{
    height: calc(205vh - 115vh);
}

mat-drawer{
    text-align: center;
}

.card{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 380px;
}

.b{
    width: 100%;
}


.info{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    padding: 4px;
    margin-top: 5px;
}

h3, p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "blippo", fantasy;
    text-transform: uppercase;
}

h3{
    margin-top: 2px !important;
    font-size: 18px;
}

.polo{
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 500;
}

h4{
    margin: 2px;
}

.nemo{
    margin-top: 7rem !important;
}


p{
    font-size: 16px;
    color: #545454;
}


.esp h3{
    font-size: 14px;

}

.las{
    margin-right: 4px;
}

img{
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    border: 5px double #545454;
    margin-top: 20px;
    font-size: 20px;
    color: #545454;
    font-family: "blippo", fantasy;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-weight: bold;
    width: 60%;
    background-color: #04ad76;
    color: #fff;
    height: 40px;

}

.bslider {
    margin: 0;
    padding: 0;
    padding-top: 18px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sli {
    color: #04ad76;
    font-weight: bold;
    font-size: 16px;
}

.slider {
    width: 75%;
}