<mat-drawer-container class="all">
    <mat-drawer mode="side" opened class="pesquisa">
        <img src="../../assets/grid.png" alt="" class="grid">
        <div class="acc">
            <select id="curso" class="form-control">
                <option selected>Curso</option>
                <option *ngFor="let cursos of cursos" value="med">{{cursos.nomeCurso}}</option>
            </select>

            <select id="categoria" class="form-control" [(ngModel)]="vf">
                <option selected>Categoria</option>
                <option value="publica">Pública</option>
                <option value="privada">Privada</option>
                <option value="todos">Ambas</option>
            </select>

            <select id="estado" class="form-control"  [(ngModel)]="est">
                <option selected>Estado</option>
                <option *ngFor="let estados of estados">{{estados.nome_estado}}</option>
            </select>

            <select id="cidades" class="form-control" (click)="aparecer()">
                <option selected>Cidade Central</option>
                <option *ngFor="let uc of cityEst">{{uc.nome_cidade}}</option>
            </select>
        </div>

        <div class="bslider">
            <span class="left sli">0</span>
            <mat-slider thumbLabel [displayWith]="formatLabel" step="1" min="0" max="200" class="slider"></mat-slider>
            <span class="right sli">200</span>
        </div>

        <button (click)="enviar()" class="btn">BUSCAR <i class="las la-search"></i></button>
    </mat-drawer>

    <mat-drawer-content class="resultado">
        <div class="row">
            <div class="col-3" *ngFor="let uc of cityEst">
                <div id="desc" class="card desc drax" value="0">
                    <div class="b"></div>
                    <h3 class="name"><strong>CURSO NOME</strong></h3>
                    <h4><span class="las la-star"></span>5.0 </h4>
                    <div class="esp">
                        <h3 class="name"><strong>Instituição: </strong><span></span></h3>
                        <h3 class="name"><strong>Categoria: </strong><span></span></h3>
                        <h3 class="name"><strong>Estado: </strong><span>SP</span></h3>
                        <h3 class="name"><strong>Cidade: </strong><span>{{uc.nome_cidade}}</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<!---->
