* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content-wrapper{
    z-index: 2;
}

.wrapper{
    z-index: 1;
}

.sidenav{
    height: 98vh;
    width: 50%;
    border-right: 3px solid #04ad76;
    background-color: #fff;
}

i, .btn{
    color: #000;
    font-size: 2rem;
    display: none;
}

.snav{
    font-size: 25px;
    color: #04ad76;
    font-family: "blippo", fantasy;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 35px;
}

.nav-list{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

mat-sidenav-content{
    background-color: #fff;
}

@media(max-width: 600px) and (min-width: 200px){
    .btn, i{
        display: block;
    }

    .btn{
        opacity: 1;
    }

    i{
        font-size: 2rem;
        font-weight: bold;
        color: #000;
    }

    .capi{
        height: 170px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(5px 8px 13px #222);
    }

    
}