<div class="wrapper">
    <app-header></app-header>

</div>
<div class="content-wrapper">
</div>

<mat-sidenav-container>
    <mat-sidenav #snav class="sidenav">
        <div class="barra1">
            <button>ABRIR</button>
        </div>
        <div class="barra2"></div>
        <div class="nav">
            <div class="nav-list">
                <ul>
                    <li class="snav" routerLinkActive="ativo" [routerLink]="['']">Home</li>
                    <li class="snav" routerLinkActive="ativo" [routerLink]="['cursos']">Cursos</li>
                    <li class="snav" routerLinkActive="ativo" [routerLink]="['inst']">Instituições</li>
                    <li class="snav" routerLinkActive="ativo" [routerLink]="['testes']">Testes</li>
                    <li class="snav" routerLinkActive="ativo" [routerLink]="['sobre']">Sobre</li>
                </ul>
            </div>
            <img src="../assets/grid.png" alt="" class="capi">
        </div>
        <div class="barra1"></div>
        <!--mat-nav-list>
            <li routerLinkActive="ativo" [routerLink]="['cursos']">Cursos</li>
            <li routerLinkActive="ativo" [routerLink]="['inst']">Instituições</li>
            <li routerLinkActive="ativo" [routerLink]="['testes']">Testes</li>
            <li routerLinkActive="ativo" [routerLink]="['sobre']">Sobre</li>
        </mat-nav-list-->
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet>
            <button class="btn" (click)="snav.toggle()">FECHAR </button>
        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>