<div class="row">
    <div class="col-6 met">
        <div class="row bloco-grid">
            <div class="col-6 fst">
                <img src="../../assets/grid.png" alt="" class="grid">
            </div>
            <div class="col-6 fst">
                <div class="card-grid">
                    <p class="typing-animation">Para te ajudar mais um pouquinho, aqui temos alguns links para testes vocacionais externos, que visam te 
                        ajudar a escolher um curso para prosseguir. Para um maior autoconhecimento, faça o máximo que puder!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 let">
        <div class="row">
            <div class="col-6 cont">
                <div class="ca">
                    <div class="guia-carreira">
                        <a href="https://www.guiadacarreira.com.br/teste-vocacional/" target="_blanc">
                        <img src="../../assets/testes/guia.svg" alt="" mat-raised-button matTooltip="Guia da Carreira" matTooltipPosition="below">
                        </a>
                    </div>
                </div>
                <div class="ca"></div>
                <div class="ca"></div>
                <div class="ca"></div>
            </div>
            <div class="col-6 cont">
                <div class="ca"></div>
                <div class="ca"></div>
                <div class="ca"></div>
                <div class="ca"></div>
            </div>
        </div>
    </div>
</div>
<!--app-footer></app-footer-->