<div class="row">
    <div class="col-6 met">
        <div class="row bloco-grid">
            <div class="col-6 fst">
                <img src="../../assets/grid.png" alt="" class="grid">
            </div>
            <div class="col-6 fst">
                <div class="card-grid">
                    <p class="typing-animation">Para te ajudar mais um pouquinho, aqui temos alguns links para testes
                        vocacionais externos, que visam te
                        ajudar a escolher um curso para prosseguir. Para um maior autoconhecimento, faça o máximo que
                        puder!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 let">
        <div class="row">
            <div class="col-6 cont">
                <div class="ca">
                    <a href="https://www.guiadacarreira.com.br/teste-vocacional/" target="_blanc">
                        <img src="../../assets/testes/guia.svg" alt="" mat-raised-button matTooltip="Guia da Carreira"
                            matTooltipPosition="below">
                    </a>
                </div>
                <div class="ca">
                    <a href="https://www.educamaisbrasil.com.br/teste/vocacional" target="_blanc">
                        <img src="https://images.educamaisbrasil.com.br/content/internal/marketplace/educamaisbrasil/images/logo_educa_2021.png"
                            alt="" mat-raised-button matTooltip="Guia da Carreira" matTooltipPosition="below">
                    </a>
                </div>
                <div class="ca">
                    <a href="https://querobolsa.com.br/teste-vocacional-gratis" target="_blanc">
                        <img src="https://kong.quero.com/logotype-querobolsa.svg"
                            alt="" mat-raised-button matTooltip="Quero Bolsa" matTooltipPosition="below">
                    </a>
                </div>
                <div class="ca"></div>
            </div>
            <div class="col-6 cont">
                <div class="ca bla">
                    <a href="https://app.quecurso.com.br/teste-vocacional/" target="_blanc">
                        <img src="https://app.quecurso.com.br/images/logo-horizontal-white.svg"
                            alt="" mat-raised-button matTooltip="Que Curso" matTooltipPosition="below">
                    </a>
                </div>
                <div class="ca">
                    <a href="https://www.pravaler.com.br/testes/teste-vocacional-online-gratis/" target="_blanc">
                        <img src="https://www.pravaler.com.br/cdn/images/logo.svg"
                            alt="" mat-raised-button matTooltip="Pravaler" matTooltipPosition="below">
                    </a>
                </div>
                <div class="ca"></div>
                <div class="ca"></div>
            </div>
        </div>
    </div>
</div>
<!--app-footer></app-footer-->