<div class="row imagens">
    <div class="col-2">
        <img src="../../assets/prof/cul.png" alt="">
    </div>
    <div class="col-2">
        <img src="../../assets/prof/del.png" alt="">
    </div>
    <div class="col-2">
        <img src="../../assets/prof/med.png" alt="">
    </div>
    <div class="col-2">
        <img src="../../assets/prof/prof.png" alt="">
    </div>
    <div class="col-2">
        <img src="../../assets/prof/qui.png" alt="">
    </div>
    <div class="col-2">
        <img src="../../assets/prof/vet.png" alt="">
    </div>
</div>