.row {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

/*.col-4 {
    width: 100 / 3%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.col-2 {
    width: 100 / 6%;
    padding: 0;
    margin: 0;
    text-align: center;
}*/

.b {
    background-color: cadetblue;
    height: 180px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.c {
    background-color: chartreuse;
    height: 21px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*.container{
    height: 25px;
    background-color: #CCC;
    position: relative;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
}
.container .progress{
    position: absolute;
    height: 100%;
    background-color: #006d00;
    border-radius: 10px;
}

.box{
    color: rgb(180, 179, 179);
    border: 2px solid rgb(141, 140, 140);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

#play-animation{ 
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation{
    0%{width: 0%;}
    100%{width: 100%;}
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin-top: 50px;
}

.container {
    width: 60%;
    margin: 24% auto;
    position: relative;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    margin-top: 15px;
    background-color: #fff;
}

.cardz {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px;
    background-color: #fff;
}

.range {
    height: 80px;
    width: 380px;
    background-color: #fff;
    padding: 0 65px 0 45px;
    border-radius: 10px;
}

.range .sliderValue {
    position: relative;
    width: 100%;
}

.range .sliderValue span {
    position: absolute;
    height: 45px;
    width: 45px;
    color: #fff;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}

.range .sliderValue span.show {
    transform: translateX(-50%) scale(1);
}

.range .sliderValue span:after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background-color: #008cff;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
    left: 50%;
}

.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .field .value {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: aqua;
}

.range .field .value.left {
    left: -22px;
}

.range .field .value.right {
    right: -43px;
}

.range .field input {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    outline: none;
    border: none;
}

.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #008cff;
    border-radius: 50%;
    border: 1px solid #008cff;
    cursor: pointer;
}

.range .field input::-moz-range-progress {
    background-color: #008cff;
}

.range .field input::-webkit-range-progress {
    background-color: #008cff;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.espaco{
    padding-top: 0.1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
