.row {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.col-4 {
    width: 100 / 3%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.col-2 {
    max-width: 100 / 6%;
    min-width: 100 / 6%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.col-6 {
    width: 100 / 2%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.b {
    background-color: cadetblue;
    height: 180px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.c {
    background-color: chartreuse;
    height: 21px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    margin-top: 50px;
}

.container {
    width: 60%;
    margin: 24% auto;
    position: relative;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    margin-top: 15px;
    background-color: #fff;
}

.cardz {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px;
    background-color: #fff;
}

.cardzc {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px;
    background-color: #fff;
}


.ngx-slider .ngx-slider-pointer{
    background-color: #0df6a9 !important;
}

@media(max-width: 3000px) and (min-width: 1200px) {
    .cs {
        min-width: 100 / 6%;
    }
    .desc {
        height: 150px;
    }
    .info{
        padding: 10px !important;
    }
    .dem{
        height: auto;
    }
}

@media(max-width: 1500px) and (min-width: 1100px) {
    .cs {
        min-width: 25%;
    }
    .desc {
        height: 100px;
    }
}

@media(max-width: 1099px) and (min-width: 915px) {
    .cs {
        min-width: 33%;
    }
    .desc {
        height: 400px !important;
    }
}

@media(max-width: 914px) and (min-width: 625px) {
    .cs {
        min-width: 50%;
    }
    .desc {
        height: 370px !important;
    }

    .dem{
        height: auto;
    }
}

@media(max-width: 624px) and (min-width: 510px) {
    .cs {
        min-width: 50%;
    }
    .desc {
        height: 414px !important;
    }
}

@media(max-width: 509px) and (min-width: 450px) {
    .cs {
        min-width: 50%;
    }
    .desc {
        height: 430px !important;
    }
}

@media(max-width: 449px) and (min-width: 200px) {
    .cs {
        min-width: 100%;
    }
    .desc {
        height: 400px !important;
    }
}