.mapa {
    margin-top: -160px;
    width: 78%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.grid {
    padding: 0;
    margin: 0;
    width: 110%;
    height: auto;
    margin-top: 5%;
}

.cont{
    margin-top: 10rem;
}

.form-control {
    border: 5px double #545454;
    margin-top: 20px;
    font-size: 20px;
    color: #545454;
    font-family: "blippo", fantasy;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.form-control:first-child {
    margin-top: -50px;
}
option{
    color: #545454;
}
p {
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: #545454;
    font-family: "blippo", fantasy;
    overflow: hidden;
    line-height: 1.7rem;

}

.card-grid {
    width: 85%;
    margin-top: 7rem;
}

.bloco-grid {
    margin-top: 100px;
}

.nada {
    display: none;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-weight: bold;
    width: 60%;
    background-color: #04ad76;
    color: #fff;
    height: 40px;

}

.bslider {
    margin: 0;
    padding: 0;
    padding-top: 18px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sli {
    color: #04ad76;
    font-weight: bold;
    font-size: 16px;
}

.slider {
    width: 75%;
}

select {
    text-align: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 200px;
}

@media(max-width: 600px) and (min-width: 200px) {

    .imagens,
    .mapa {
        display: none;
    }

    .col-2,
    .col-4,
    .bloco-grid {
        min-width: 100%;
    }

    .card-grid {
        width: 127%;
        margin-top: 0;
        margin-left: -61px;
    }

    p {
        line-height: 2rem;
        font-size: 14px;
        font-family: "blippo", fantasy;
    }

    .bloco-grid {
        margin-top: 0px;
    }

    .grid {
        margin-top: 0px;
        height: 140px;
        width: auto;
        margin-left: -48px;
    }

    .acc {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .slider {
        width: 85%;
    }
}

@media(max-width: 954px) and (min-width: 604px) {

    .imagens,
    .mapa {
        display: none;
    }

    .col-2,
    .col-4 {
        min-width: 100%;
    }

    .col-6 {
        width: 100 / 2%;
    }

    .card-grid {
        width: 100%;
        margin-top: 1rem;
        margin-left: -61px;
    }

    p {
        line-height: 2rem;
        font-size: 22px;
        font-family: "blippo", fantasy;
    }

    .bloco-grid {
        margin-top: 0px;
    }

    .grid {
        margin-top: 0px;
        height: 250px;
        width: auto;
        margin-left: -48px;
    }

}

@media(max-width: 1200px) and (min-width: 955px) {

    .cont{
        margin-top: 3rem;
        align-items: center;
    }

    .mapa {
        display: none;
    }

    .col-6 {
        width: 100 / 2%;
    }

    .card-grid {
        width: 100%;
        margin-top: 1rem;
        margin-left: -61px;
    }

    p {
        line-height: 2rem;
        font-size: 22px;
        font-family: "blippo", fantasy;
    }

    .bloco-grid {
        margin-top: 0px;
        width: 170%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .grid {
        margin-top: 0px;
        height: 250px;
        width: auto;
        margin-left: -48px;
    }

    .imagens{
        height: auto;
        margin-top: 2rem;
    }

}


@media(max-width: 2000px) and (min-width: 1200px) {

    .cont{
        margin-top: 1rem;
        align-items: center;
    }

    .col-6 {
        width: 100 / 2%;
    }

    .card-grid {
        width: 100%;
        margin-top: 1rem;
        margin-left: -61px;
    }

    p {
        line-height: 2rem;
        font-size: 22px;
        font-family: "blippo", fantasy;
    }

    .bloco-grid {
        margin-top: 0px;
        width: 110%;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
    }

    .grid {
        margin-top: 0px;
        height: 250px;
        width: auto;
        margin-left: -48px;
    }

}