<div class="row cont">
    <div class="col-4">
        <div class="row bloco-grid">
            <div class="col-6">
                <img src="../../assets/grid.png" alt="" class="grid">
            </div>
            <div class="col-6">
                <div class="card-grid">
                    <p class="typing-animation">Bem-Vindo ao Graduei! Eu sou o Grid, e aqui você irá encontrar faculdades próximas que forneçam o curso que você deseja, além de ter acesso a informações de diversas universidades e formações. E com uma ajudinha a mais, disponibilizamos
                        alguns links de testes vocacionais! </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="../../assets/mapa.png" alt="" class="mapa">
    </div>
    <div class="col-4">
        <div class="acc">
            <select id="curso" class="form-control" #curs>
                <option selected>Curso</option>
                <option *ngFor="let cursos of cursos" [value]="cursos.nome_curso">{{cursos.nome_curso}}</option>
            </select>

            <select id="categoria" class="form-control" #cate>
                <option selected>Categoria</option>
                <option value="Pública">Pública</option>
                <option value="Privada">Privada</option>
                <option value="Ambas">Ambas</option>
            </select>

            <select id="estado" class="form-control" #esta [(ngModel)]="est">
                <option selected>Estado</option>
                <option *ngFor="let estados of estados">{{estados.nome_estado}}</option>
            </select>

            <select id="cidades" class="form-control" (click)="aparecer()" #cici [(ngModel)]="cid">
                <option selected>{{cid}}</option>
                <option *ngFor="let uc of cityEst" [value]="uc.nome_cidade">{{uc.nome_cidade}}</option>
            </select>
        </div>
        <button class="btn" [routerLink]="['/resultados', curs.value, cate.value, esta.value, cici.value]">BUSCAR <i class="las la-search"></i></button>
        
        <select id="curso" class="form-control" #curhd [(ngModel)]="cur">
            <option selected>{{cur}}</option>
            <option *ngFor="let cursos of cursos" [value]="cursos.nome_curso">{{cursos.nome_curso}}</option>
        </select>
        <div class="bslider">
            <ngx-slider [(ngModel)]="value" [options]="options" #numb></ngx-slider>
        </div>
        <button class="btn" [routerLink]="['/resultado', curhd.value, numb.value]">BUSCAR <i class="las la-search"></i></button>
    </div>

</div>